// 서브페이지 공통
.jeongwoo-tax-sub {
    // HEADER TITLE
    .sec_header {
        .title {position: absolute; @include vw-pc(bottom, 62); @include vw-pc(left, 60);@include vw-pc(font-size, 66); color: #fff;}
    }
    
    @mixin icon-bar($w: 60, $h: 6, $color: #3D8AFF){
        display: block;
        @include vw-pc(width, $w);
        @include vw-pc(height, $h);
        background-color: $color;
    }

    .inner_1320 {
        // 세부카테고리
        .breadcrumb_list { display: flex; @include vw-pc(padding, 68 0 106);
            > li {font-size: 14px; font-weight: bold;}
            > li + li {display: flex;
                &::before {display: block; content: ">";@include vw-pc(margin, 0 8);opacity: .7; font-weight: 400;}
            }
            > li:not(:last-child) {pointer-events: none; opacity: .7; font-weight: 400;}
        }
        // 각 페이지 서브 타이틀
        .main_title_box {@include vw-pc(margin-bottom, 51);}
        .title {@include vw-pc(font-size, 36);}
        .desc {@include vw-pc(margin-top, 36);@include vw-pc(font-size, 18); @include vw-pc(line-height, 24);}
        .icon_line {@include icon-bar(); @include vw-pc(margin-top, 40);}

        $title-type : (round, square, 운섭);
        @each $type in $title-type {
            .sub_title-#{$type} {
                // 공통 CSS
                @include vw-pc(margin-bottom, 15); @include vw-pc(font-size, 22);

                // .sub_title-round
                @if($type == round) {
                    display: flex; align-items: center; font-weight: 700;
                    &::before {display: block; content: "";@include vw-pc(margin-right, 12);@include vw-pc(width, 8); @include vw-pc(height, 8); @include vw-pc(border, 6 solid #3D8AFF); border-radius: 50%;} 
                }

                // .sub_title-square
                @if($type == square) {
                    display: block;@include vw-pc(padding-left, 20);@include vw-pc(line-height, 52);background-color: #3D8AFF; color: #fff; font-weight: 700;
                }

                // ex) .sub_title-운섭
                @if($type == 운섭) {
                    position: relative; display: flex; align-items: center; justify-content: center;@include vw-pc(width, 258);@include vw-pc(height, 180); color: #fff;
                    &:before,
                    &:after {
                      z-index: -1; display: block; position: absolute; content: "";@include vw-pc(left, 125); top: 0; @include vw-pc(width, 125);@include vw-pc(height, 200); @include vw-pc(border-radius, 125 125 0 0);transform: rotate(-45deg); transform-origin: 0 100%;
                    }
                    &:after { left: 0; transform: rotate(45deg); transform-origin: 100% 100%;}
                  
                }
            }
        }
        // 디스크립션 리스트
        .desc_list-ul {@include vw-pc(margin-left, 20);
            .title {display: flex; align-items: center;@include vw-pc(margin-bottom, 20); @include vw-pc(font-size, 22);
                &::before {display: block; content: "";@include vw-pc(margin-right, 12); @include vw-pc(width, 10); @include vw-pc(height, 10); border-radius: 50%; background-color: #3D8AFF;}
            }
            .desc_list {@include vw-pc(margin-left, 45); list-style: disc; line-height: 1.4;
                li {list-style-type: disc;};
                li + li {@include vw-pc(margin-top, 5);}
            }
            .depth2_list {@include vw-pc(margin, 5 0 5 25);list-style: circle; line-height: 1.4;}
        }
        .desc_list-dl {display: flex; flex-direction: column; @include vw-pc(margin-left, 35);
            
            > dt {flex-basis: 8%; display: flex; align-items: center; align-self: flex-start; padding-top: 2px; font-weight: 700;
                &::before {display: block; content: ""; @include vw-pc(width, 10);@include vw-pc(height, 10);@include vw-pc(margin-right, 12);border-radius: 50%; background-color: #3D8AFF;}
            }
            > dd {flex-basis: 42%;
                p {display: flex; align-items: flex-start; @include vw-pc(line-height, 28); @include vw-pc(font-size, 18);}
                p + p {@include vw-pc(margin-top, 5);}
                p::before {display: block; content: "";@include vw-pc(width, 6); @include vw-pc(height, 6); @include vw-pc(margin-right, 10); border-radius: 50%; background-color: #000000; @include vw-pc(margin-top, 12);}
            }
        }
        .disc {@include vw-pc(margin, 10 0 0 25);font-size: 14px; color: #0F3DB5;}
    }
}

// 메인페이지 CSS
.jeongwoo-tax {
    // COMMON CSS
    .num_title {@include vw-pc(font-size, 156);@include vw-pc(line-height, 210); color: #065DE0;font-family: 'NotoSerifKR';}
    .num_title.under {@include vw-pc(border-bottom, 5 solid #065DE0);}
    .num_title.right {text-align: right;}
    .num_title.left {text-align: left;}
    .en {font-family: 'NotoSerifKR';}
    .align_box {display: flex; @include vw-pc(width, 1320);@include vw-pc(margin, 0 auto); justify-content: space-between;}

    // SEC_KV START
    .sec_kv {
        z-index: 1;
        .title_box {
            display: flex; justify-content: center;flex-direction: column;@include vw-max(width, 1180);@include vw-max(height, 419);position: absolute; bottom: 0; left: 0;@include vw-max(border-radius, 5 35 35 5); @include vw-max(padding-left, 410);background-color: rgba(255, 255, 255, 0.85); @include vw-max(box-shadow, 6 7 8 rgba(221, 221, 221, 0.7));
            .main_txt{@include vw-max(margin, 0 0 20); @include vw-max(font-size, 40); @include vw-max(line-height, 56);}
            .sub_txt{@include vw-max(font-size, 22); @include vw-max(line-height, 35);}
        }
        .name_txt {position: absolute; @include vw-max(font-size, 18); @include vw-max(bottom, 110); @include vw-max(right, 300); font-weight: 700;}
        
    }
    // SEC_KV END

    // SEC_INQUIRE START
    .sec_inquire {
        width: 100%; @include vw-pc(height, 1042);background: url(../../img/jw_inquire_bg_pc.png); @include vw-pc(background-size, 1920 1042); @include vw-pc(margin-top, -80);
        .inner_1440 {height: 100%;}
        .align_box {
            .title_box {
                @include vw-pc(margin-top, 151); text-align: right;
                .num_title {@include vw-pc(margin-bottom, 43);}
                .main_txt {@include vw-pc(margin-bottom, 7);@include vw-pc(font-size, 42); @include vw-pc(line-height, 76); font-weight: 700;}
                .sub_txt {@include vw-pc(font-size, 18); @include vw-pc(line-height, 30);}
            }
            .contents_area {
                display: flex; flex-direction: column; @include vw-pc(margin-top, 290);
                dl {
                    display: flex; align-items: center; @include vw-pc(margin, 15 0);
                    dt {display: flex; align-items: center; justify-content: center;@include vw-pc(width, 224);@include vw-pc(height, 83);@include vw-pc(border-radius, 5);background-color: #065DE0; @include vw-pc(font-size, 32); color: #fff;}
                    dd {display: flex;align-items: center;justify-content: center;background-color: #fff; @include vw-pc(height, 83); @include vw-pc(padding, 0 40); @include vw-pc(font-size, 22);}
                    dd:last-child {@include vw-pc(border-radius, 0 5 5 0);}
                }
                
            }
        }
    }
    // SEC_INQUIRE END
    
    // SEC_SUBSTANCE START
    .sec_substance {
        @include vw-pc(margin, -220 0 -395 0); z-index: 10;
        .align_box {
            display: flex; 
            .title_box {
                text-align: left; color: #fff;
                .num_title {@include vw-pc(margin-bottom, 20);}
                .main_txt {@include vw-pc(margin-bottom, 7);@include vw-pc(font-size, 42); @include vw-pc(line-height, 76); font-weight: 700;}
                .sub_txt {@include vw-pc(font-size, 18); @include vw-pc(line-height, 30);}
            }
            .contents_area {
                display: flex; flex-wrap: wrap; justify-content: space-between; @include vw-pc(width, 1015); @include vw-pc(margin-top, 90);
                .contents_list {
                    display: flex; align-items: center;justify-content: center; @include vw-pc(width, 500); @include vw-pc(height, 254); @include vw-pc(border-radius, 5); background-color: #fff; @include vw-pc(box-shadow, 1 -2 4 0 rgba(221, 221, 221, 0.7));
                    .img_box {@include vw-pc(width, 100);@include vw-pc(margin-right, 47);}
                    .txt_box {
                        .main_txt {@include vw-pc(margin-bottom, 12);@include vw-pc(font-size, 20); @include vw-pc(line-height, 26); font-weight: 700;}
                        .sub_txt {@include vw-pc(font-size, 18); @include vw-pc(line-height, 28); }
                    }
                    &:nth-child(-n+2) {@include vw-pc(margin-bottom, 15);}
                }
            }
        }
    }
    // SEC_SUBSTANCE END

    // SEC_REVIEW START 
    .sec_review {
        overflow-x: clip;
        .inner_1920 {
            @include vw-pc(width, 1920); @include vw-pc(height, 1003); background: url('../../img/jw_review_bg_pc.png') no-repeat;@include vw-pc(background-size, 1920 1003);
            .title_box {
                position: absolute; @include vw-pc(right, -35); @include vw-pc(bottom, 20); color: #fff;
                .num_title {@include vw-pc(margin-bottom, 32);@include vw-pc(font-size, 530); @include vw-pc(line-height, 580); border-color: #fff; color: #fff}
                .main_txt {@include vw-pc(padding-left, 140);@include vw-pc(font-size, 42); @include vw-pc(line-height, 76); font-weight: 700;}
            }
            .contents_area {
                width: 100%;position: absolute;@include vw-pc(bottom, -221); @include vw-pc(left, -107);
                .phone_bg {@include vw-pc(width, 469);@include vw-pc(height, 858); position: absolute; @include vw-pc(left, 310); @include vw-pc(bottom, -140);}
                .review_swiper {
                    overflow: hidden;@include vw-pc(width, 1485);
                    .swiper-wrapper {@include vw-pc(padding-bottom, 15);}
                    .swiper-slide {
                        @include vw-pc(width, 345);@include vw-pc(height,551); @include vw-pc(margin-right, 30);background-color: #fff; @include vw-pc(box-shadow, 5 5 11 -3 rgba(136, 136, 136, 0.7));
                        .txt_box {
                            @include vw-pc(padding, 13 0 0 37);
                            .name_txt {@include vw-pc(margin-bottom, 9);@include vw-pc(font-size, 14); @include vw-pc(line-height, 24); font-weight: 700; color: #065DE0;}
                            .main_txt {@include vw-pc(margin-bottom, 8);@include vw-pc(font-size, 14); @include vw-pc(line-height, 24); font-weight: 700;}
                            .content_txt {@include vw-pc(font-size, 14); @include vw-pc(line-height, 23);}
                        }
                    }
                }
            }
        }
    }
    // SEC_REVIEW END

    // SEC_DIAGNOSIS START
    .sec_diagnosis {
        @include vw-pc(margin-top, 411); @include vw-pc(margin-bottom, -116); z-index: 10;
        .align_box {
            .title_box {
                .num_title {@include vw-pc(margin-bottom, 29);}
                .main_txt {@include vw-pc(padding-right, 80);@include vw-pc(margin-bottom, 20);@include vw-pc(font-size, 42); @include vw-pc(line-height, 76); font-weight: 700;}
                .apply_btn {display: flex;align-items: center;justify-content: center ;@include vw-pc(width, 293); @include vw-pc(height, 60);@include vw-pc(border-radius, 80);;@include vw-pc(font-size, 22); font-weight: 700; color: #fff; background-color: #065DE0;}
            }
            .contents_area {
                display: flex; align-items: center;justify-content: center;
                .contents_list {
                    @include vw-pc(width, 320); @include vw-pc(box-shadow, -1 2 6 0 #ddd);
                    .contents_txt {@include vw-pc(height, 118); @include vw-pc(padding-top, 33); @include vw-pc(font-size, 14); @include vw-pc(line-height, 23); text-align: center; @include vw-pc(border, 1 solid #ddd); background-color: #fff;} 
                    &:nth-child(2) .contents_txt {border-left: none; border-right: none;}
                }
            }
        }
    }
    // SEC_DIAGNOSIS END

    // SEC_PROCESS START
    .sec_process {
        background: url('../../img/jw_process_bg_pc.png') no-repeat; width: 100%; @include vw-max(height, 998); @include vw-max(background-size, 1920 998);
        .align_box {
            justify-content: flex-end;
            .title_box {
                @include vw-max(margin-top, 180);
                .num_title {@include vw-max(font-size, 156);@include vw-max(line-height, 210);}
                .main_txt {@include vw-max(font-size, 42); @include vw-max(line-height, 76); font-weight: 700;text-align: right;}
            }
        }
    }
    // SEC_PROCESS END


    // SEC_ORGANIZITION START
    .sec_organization {
        .align_box {
            @include vw-pc(padding, 161 0 218); flex-direction: column;
            .title {@include vw-pc(margin-bottom, 38);@include vw-pc(font-size, 42); @include vw-pc(line-height, 76); text-align: center; font-weight: 700;}
            .contents_area {
                display: flex; align-items: center; justify-content: center;
                .contents_list {
                    display: flex;@include vw-pc(width, 264);@include vw-pc(height, 605);@include vw-pc(background-size, 264 605);
                    .txt_box {
                        position: relative;width: 100%;@include vw-pc(padding, 120 30 0);
                        .num_txt {@include vw-pc(padding-left, 20); @include vw-pc(margin-bottom, 20);@include vw-pc(font-size, 76); color: #fff;}
                        .name_txt {@include vw-pc(height, 90);@include vw-pc(margin-bottom, 150);@include vw-pc(padding-left, 20); @include vw-pc(font-size, 32); @include vw-pc(line-height, 42); color: #fff;}
                        .detail_btn {display: flex;align-items: center;justify-content: center;width: 100%; @include vw-pc(height, 56); @include vw-pc(border-radius, 107); @include vw-pc(font-size, 18); font-weight: 700; color: #fff; background-color: rgba(5, 71, 170, 0.7);background-blend-mode: multiply;}

                        &::after {content: ''; position: absolute; @include vw-pc(top, 95); @include vw-pc(left, 55);@include vw-pc(width, 56); @include vw-pc(height, 7); background-color: #0547AA;}
                    }
                }
                .contents_list:hover {background-color: rgba(5, 71, 170, 0.7) !important;background-blend-mode: multiply;}
                .contents_list:hover .txt_box::after{background-color: #fff;}
                .contents_list:hover .detail_btn{background-color: #fff; color: #065DE0;}



                & li:nth-child(1) .contents_list {background: url('../../img/jw_organization_01_pc.png') no-repeat;}
                & li:nth-child(2) .contents_list {background: url('../../img/jw_organization_02_pc.png') no-repeat;}
                & li:nth-child(3) .contents_list {background: url('../../img/jw_organization_03_pc.png') no-repeat;}
                & li:nth-child(4) .contents_list {background: url('../../img/jw_organization_04_pc.png') no-repeat;}
                & li:nth-child(5) .contents_list {background: url('../../img/jw_organization_05_pc.png') no-repeat;}
            }
        }
    }

    // SEC_APPLY START
    .sec_apply {
        background: url('../../img/jw_apply_bg_pc.png') no-repeat; width: 100%; @include vw-max(height, 860); @include vw-max(background-size, 1920 860);
        .txt_box {
            @include vw-max(padding-top, 133);text-align: center; color: #fff;
            .sub_txt {@include vw-max(font-size, 55); @include vw-max(line-height, 76); font-weight: 700;}
            .main_txt {@include vw-max(margin-bottom, 84);@include vw-max(font-size, 180); @include vw-max(line-height, 262);}
            .apply_btn {display: flex;align-items: center;justify-content: center;@include vw-max(width, 520); @include vw-max(height, 100); @include vw-max(margin, 0 auto);@include vw-max(font-size, 22); color: #065DE0; @include vw-max(border-radius, 106); background-color: #fff; font-weight: 700;}
        }
    }
    // SEC_APPLY END
}

@media screen and (max-width: 768px) {

}