
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 100;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Thin.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Thin.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 200;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Light.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Light.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 300;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 400;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Regular.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Regular.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 700;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Bold.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Bold.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 900;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Black.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Black.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 100;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumThin.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumThin.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumThin.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumThin.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumThin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 400;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumMedium.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumMedium.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumMedium.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumMedium.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumMedium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 700;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumSemiBold.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 900;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumBold.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumBold.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumBold.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumBold.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 100;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriL.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriL.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriL.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriL.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriL.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 400;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriM.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriM.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriM.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriM.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriM.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 700;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriSB.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriSB.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriSB.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriSB.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriSB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 900;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriB.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriB.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriB.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriB.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriB.eot') format('embedded-opentype');
}
@font-face {
	font-family: 'Antro Vectra';
	font-style: normal;
	font-weight: 400;
	src: local('â€»'),
	   url('../../fonts/antro/Antrovectra-DOLWD.woff2') format('woff2'),
	   url('../../fonts/antro/Antrovectra-DOLWD.woff') format('woff'),
	   url('../../fonts/antro/Antrovectra-DOLWD.otf') format('opentype'),
	   url('../../fonts/antro/Antrovectra-DOLWD.ttf') format('truetype');
 }

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Myeongjo', serif;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swa') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @import url('http://fonts.cdnfonts.com/css/antro-vectra'); */

/* @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css); */

@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');

/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Noto Sans CJK KR';
	font-family: 'NanumSquare', sans-serif;
	font-family: 'Cormorant', serif;
	font-family: 'Neuton', serif;
	
	font-family: 'AritaDotum'; 900,700,400,100
	font-family: 'AritaBuri';  900,700,400,100
	
	font-family: 'Antro Vectra', sans-serif;
	
    font-family:'NanumSquareRound';
	
	font-family: 'NanumBarunGothic', sans-serif;

	.normal		{ font-weight: 400 }
	.bold		{ font-weight: 700 }
	.bolder		{ font-weight: 800 }
	.light		{ font-weight: 300 }

*/

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #444;
}

html,
body {
	font-family:'Open Sans', 'Noto Sans CJK KR', "Malgun Gothic", "Nanum Gothic", NanumGothic, Dotum, "ë‹ì›€", Arial;
	color: #000;
}

body {
	font-family:'Open Sans', 'Noto Sans CJK KR', "Malgun Gothic", "Nanum Gothic", NanumGothic, Dotum, "ë‹ì›€", Arial;
}


a:hover {
	text-decoration: none;
}
a {
	color: unset;
}
input,
textarea:focus {
	outline: none !important;
}

br {
	font-family: none;
}
*:focus {
	outline: none !important;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#table_refund {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 1% 0;
}

#table_refund tr,
#table_refund td {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#table_refund th {
	background: #f3f3f3;
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
}

#login_fs legend {
	display: none;
}

#bo_v {
	margin: 0;
}

#bo_sch legend {
	display: none;
}

@media (min-width: 1921px) {}

@media (min-width: 1200px) {}

@media (max-width: 1024px) {
	
	#table_refund {
		width: 100%;
	}
	.sd_h_120 {
		height: calc(100vw * 0.9) !important;
	}
	.sd_h_100 {
		height: calc(100vw * 0.7) !important;
	}
	
	.sd_h_130 {
		height: calc(100vw * 0.9) !important;
	}
	.sd_h_50 {
		height: calc(100vw * 0.55) !important;
	}
}

@media (max-width: 998px) {}

@media (max-width: 769px) {

	.content.map #section1.sd_h_120 {
		height: calc(100vw * 1.2) !important;
	}
}

@media (max-width: 560px) {
	#table_refund { 
		font-size:10px;
		letter-spacing:-0.9px;
	}
	.sd_h_130 {
		height: calc(100vw * 1.6) !important;
	}
	.content.map #section1.sd_h_120 {
		height: calc(100vw * 2) !important;
	}
}




#hd_pop {
	width: auto !important;
}

/* íŒì—… */
@media (max-width:768px) {

}



.en {vertical-align:baseline;}
.btn-box,
.btn-box ~ .btn-box {margin:0;}

@media (max-width: 1440px) and (min-width: 1101px){
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video , dd a {font-size:inherit;}
}

@media (max-width: 1100px) and (min-width: 801px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media (max-width: 800px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media all and (max-width:414px) {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

/* reset prd server */

html {padding: 0; margin: 0;}
body {padding: 0; margin: 0;}
.ec_project_wrap p {margin: 0;}

.m_hide{display:block !important;}
.m_show{display:none !important;}

.bs_pt_wrap{min-width:320px; margin:0 auto; font-family:'Noto Sans CJK KR'; line-height: 1;}

.bs_pt_wrap,
.bs_pt_wrap article,
.bs_pt_wrap section,
.bs_pt_wrap nav,
.bs_pt_wrap aside,
.bs_pt_wrap header,
.bs_pt_wrap footer {display:block; position:relative}

.bs_pt_wrap section{max-width:1920px; margin:0 auto;}

.bs_pt_wrap .kr {font-family:'SamsungOneKorean',Dotum,'돋움','Apple SD Gothic Neo',arial; font-weight:400;}
.bs_pt_wrap .en {font-family:'Samsung Sharp Sans', 'SamsungSharpSans'; line-height:1; letter-spacing:0; vertical-align:baseline;  font-weight:700; font-size: inherit;}
.bs_pt_wrap .bt {font-family: 'HYBatang';}

.bs_pt_wrap a,
.bs_pt_wrap a:hover,
.bs_pt_wrap a:focus,
.bs_pt_wrap a:active {text-decoration:none; color:inherit;}

.bs_pt_wrap em,
.bs_pt_wrap i {font-style:normal;}

.bs_pt_wrap *{ box-sizing: border-box;}

.bs_pt_wrap .img_box{position:relative; width:100%; font-size:0;}
.bs_pt_wrap .img_box img{width:100%;}

.bs_pt_wrap .inner_1920,
.bs_pt_wrap .inner_1440,
.bs_pt_wrap .inner_1280,
.bs_pt_wrap .inner_1200{position:relative; width: 100%; margin: 0 auto;}

.bs_pt_wrap .inner_1920{max-width: 1920px;}
.bs_pt_wrap .inner_1440{max-width: 1440px;}
.bs_pt_wrap .inner_1280{max-width: 1280px;}
.bs_pt_wrap .inner_1200{max-width: 1200px;}

.bs_pt_wrap .clearfix:after {display:block; content:''; clear:both;}

.bs_pt_wrap .hidden,
.bs_pt_wrap .blind {position: absolute !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important;}

.bs_pt_wrap .alert_msg {display: none;position: fixed;top: 0;left: 0;z-index: 1001;width: 100%;background: #8a51d3;color: #fff;text-align: center;height: 30px;line-height: 30px;}

/* button */
// .bs_pt_wrap .btn_common {position:relative; display:inline-flex; align-items:center; justify-content:center; font-weight:700; text-align:center;}
// .bs_pt_wrap .btn_common.type_arrow {@include vw-pc(padding-right, 20);}
// .bs_pt_wrap .btn_common.type_arrow::after {content:''; position:absolute; @include vw-pc(top, 2); @include vw-pc(right, 3); @include vw-pc(width, 6); @include vw-pc(height, 6); border-right:2px solid #000; border-bottom:2px solid #000; transform:rotate(45deg);}
// .bs_pt_wrap .btn_common.type_round {border:2px solid #000; background-color:#fff; transition:border-color .3s, background-color .3s, color .3s;}
// .bs_pt_wrap .btn_common.type_round:hover {background-color:#000; color:#fff; transition:border-color .3s, background-color .3s, color .3s;}
// .bs_pt_wrap .btn_common.type_round.black_bg {background-color:#000; color:#fff;}
// .bs_pt_wrap .btn_common.type_round.black_bg:hover {background-color:transparent; color:#000;}

// .bs_pt_wrap .btn_common.btn_toggle {@include vw-pc(padding-bottom, 5); border-bottom:1px solid #000; @include vw-pc(padding-right, 20);}
// .bs_pt_wrap .btn_common.btn_toggle::after {content:''; position:absolute; top:14%; @include vw-pc(right, 3); @include vw-pc(width, 6); @include vw-pc(height, 6); border-right:2px solid #000; border-bottom:2px solid #000; transform:rotate(45deg);}
// .bs_pt_wrap .btn_common.btn_toggle.on::after {top:29%; transform:rotate(-135deg);}

/* tab */
.tab_contents .tab_content{display:none;}
.tab_contents .tab_content.on{display:block;}

.dimm{display:none;position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:0.7; }

@media all and (min-width:769px) and (max-width:1920px) {

    .bs_pt_wrap .inner_1920{max-width: 100%;}
}

@media all and (min-width:769px) and (max-width:1440px) {

    .bs_pt_wrap .inner_1440{max-width: 100%;}
    .bs_pt_wrap .inner_1280{max-width: 88.8889vw;}
    .bs_pt_wrap .inner_1200{max-width: 83.3333vw;}
}

@media all and (max-width:768px) {

    .m_hide{display:none !important;}
    .m_show{display:block !important;}

    .bs_pt_wrap section{max-width:100%;}

    .bs_pt_wrap .inner_1920,
    .bs_pt_wrap .inner_1440,
    .bs_pt_wrap .inner_1280,
    .bs_pt_wrap .inner_1200{max-width: 100%;}

    .bs_pt_wrap .alert_msg {top: 0;left: 0;width: 100%;background: #8a51d3;height: 4.5625vw; font-size: 3.2vw; line-height: 4.5625vw;}

    /* button */
    // .bs_pt_wrap .btn_common.type_under {@include vw-mo(padding-bottom, 5);}
    // .bs_pt_wrap .btn_common.type_arrow {@include vw-mo(padding-right, 25);}
    // .bs_pt_wrap .btn_common.type_arrow::after {top:0; @include vw-mo(right, 2); @include vw-mo(width, 8); @include vw-mo(height, 8);}
    // .bs_pt_wrap .btn_common.type_round {@include vw-mo(border-width, 2);}

    // .bs_pt_wrap .btn_common.btn_toggle {@include vw-mo(padding-bottom, 5);@include vw-mo(padding-right, 28);}
    // .bs_pt_wrap .btn_common.btn_toggle::after {top:22%; @include vw-mo(right, 4); @include vw-mo(width, 8); @include vw-mo(height, 8); @include vw-mo(border-width, 2);}
    // .bs_pt_wrap .btn_common.btn_toggle.on::after {top:29%;}
}