.nowcar p {
  margin: 0;
}
.nowcar .sec_menu {
  background-color: #fff;
}
.nowcar .sec_menu .inner_1440 {
  display: flex;
  width: 1330px;
  height: 142px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 {
    width: 92.3611111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 {
    height: 9.8611111111vw;
  }
}
.nowcar .sec_menu .inner_1440 #skip_to_container {
  position: absolute;
  width: 0;
  height: 0;
}
.nowcar .sec_menu .inner_1440 .img_box {
  width: 126px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 .img_box {
    width: 8.75vw;
  }
}
.nowcar .sec_menu .inner_1440 ul {
  display: flex;
}
.nowcar .sec_menu .inner_1440 li {
  font-size: 18px;
  line-height: 18px;
  margin-right: 96px;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 li {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 li {
    line-height: 1.25vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_menu .inner_1440 li {
    margin-right: 6.6666666667vw;
  }
}
.nowcar .sec_menu .inner_1440 li:last-child {
  margin-right: 0;
}
.nowcar .sec_kv .inner_1920 .txt_box {
  color: #fff;
  position: absolute;
  width: 1320px;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_kv .inner_1920 .txt_box {
    width: 91.6666666667vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .pre_txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: -150px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt {
    margin-bottom: -7.8125vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  position: relative;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left {
    font-size: 1.1458333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left {
    line-height: 1.7708333333vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left::after {
  content: "";
  position: absolute;
  width: 211px;
  height: 1px;
  top: 23%;
  background: #fff;
  right: -78%;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left::after {
    width: 10.9895833333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_left::after {
    height: 0.0520833333vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_right {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  text-align: right;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_right {
    font-size: 1.1458333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .pre_txt .pre_right {
    line-height: 1.7708333333vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .main_title {
  font-size: 160px;
  line-height: 179px;
  letter-spacing: -15px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .main_title {
    font-size: 8.3333333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .main_title {
    line-height: 9.3229166667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .main_title {
    letter-spacing: -0.78125vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .main_title {
    margin-bottom: 2.0833333333vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .main_title em {
  color: #FF6624;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.nowcar .sec_kv .inner_1920 .txt_box .add_txt {
  font-size: 28px;
  line-height: 48px;
  font-weight: 700;
  padding-left: 15px;
  margin-bottom: 90px;
  letter-spacing: -2px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .add_txt {
    font-size: 1.4583333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .add_txt {
    line-height: 2.5vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .add_txt {
    padding-left: 0.78125vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .add_txt {
    margin-bottom: 4.6875vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .add_txt {
    letter-spacing: -0.1041666667vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .kv_btn {
  width: 260px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  color: #FF6624;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .kv_btn {
    width: 13.5416666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .kv_btn {
    height: 3.125vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .kv_btn {
    border-radius: 3.125vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_kv .inner_1920 .txt_box .kv_btn {
    font-size: 0.9375vw;
  }
}
.nowcar .sec_kv .inner_1920 .txt_box .kv_btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.nowcar .sec_customer {
  background-color: #f8f8f8;
}
.nowcar .sec_customer .inner_1440 {
  height: 100%;
}
.nowcar .sec_customer .inner_1440 .customer_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 687px;
  padding: 90px 0px;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap {
    height: 47.7083333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap {
    padding: 6.25vw 0vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap {
    border-radius: 1.3888888889vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .title {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .title {
    margin-bottom: 4.1666666667vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .title h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 52px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .title h2 {
    margin-bottom: 1.3888888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .title h2 {
    font-size: 3.6111111111vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .title h2 span {
  color: #FF6624;
}
.nowcar .sec_customer .inner_1440 .customer_wrap .title p {
  font-size: 22px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .title p {
    font-size: 1.5277777778vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList {
  margin-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList {
    margin-bottom: 2.7777777778vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li {
  position: relative;
  width: 565px;
  height: 60px;
  margin-bottom: 20px;
  margin-right: 60px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li {
    width: 39.2361111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li {
    height: 4.1666666667vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li {
    margin-bottom: 1.3888888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li {
    margin-right: 4.1666666667vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li.wr_2,
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li.wr_4 {
  margin-right: 0;
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li p {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #0F4B7D;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li p {
    left: 1.9444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li p {
    font-size: 1.3888888889vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li input {
  width: 100%;
  height: 100%;
  padding-left: 150px;
  border: 1px solid #0F4B7D;
  border-radius: 30px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li input {
    padding-left: 10.4166666667vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li input {
    border: 0.0694444444vw solid #0F4B7D;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormList ul li input {
    border-radius: 2.0833333333vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  font-size: 20px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box {
    margin-bottom: 4.8611111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box {
    font-size: 1.3888888889vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check {
  display: flex;
  align-items: baseline;
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check1 {
  margin-right: 60px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check1 {
    margin-right: 4.1666666667vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check input {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check input {
    width: 1.7361111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check input {
    height: 1.7361111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .check_box .agree_check input {
    margin-right: 0.6944444444vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box {
  text-align: center;
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box .apply_btn {
  width: 260px;
  height: 60px;
  font-size: 18px;
  border-radius: 30px;
  background-color: #0F4B7D;
  color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box .apply_btn {
    width: 18.0555555556vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box .apply_btn {
    height: 4.1666666667vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box .apply_btn {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .btn_box .apply_btn {
    border-radius: 2.0833333333vw;
  }
}
.nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormPrivacy {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_customer .inner_1440 .customer_wrap .regForm .regFormPrivacy {
    padding: 1.3888888889vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap {
  padding: 148px 0px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap {
    padding: 10.2777777778vw 0vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .title_wrap {
  margin-bottom: 88px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .title_wrap {
    margin-bottom: 6.1111111111vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .title_wrap .title {
  margin-bottom: 26px;
  font-size: 52px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .title_wrap .title {
    margin-bottom: 1.8055555556vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .title_wrap .title {
    font-size: 3.6111111111vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .title_wrap .txt {
  font-size: 22px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .title_wrap .txt {
    font-size: 1.5277777778vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
  width: 470px;
  height: 489px;
  margin-right: 14px;
  margin-bottom: 64px;
  padding-top: 25px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    width: 32.6388888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    height: 33.9583333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    margin-right: 0.9722222222vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    margin-bottom: 4.4444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    padding-top: 1.7361111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li {
    box-shadow: 0.2083333333vw 0.2083333333vw 0.9027777778vw rgba(0, 0, 0, 0.1);
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li:nth-child(3n+0) {
  margin-right: 0;
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .img_box {
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .img_box {
    margin-bottom: 1.3888888889vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap {
  padding: 0px 43px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap {
    padding: 0vw 2.9861111111vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  letter-spacing: -0.01em;
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt1 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt1 {
    margin-bottom: 0.6944444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt1 {
    font-size: 1.1111111111vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt2 {
    margin-bottom: 1.3888888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt2 {
    font-size: 2.5vw;
  }
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt2 .c_orange {
  color: #FF6624;
}
.nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt3 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt3 {
    margin-bottom: 2.0833333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_special .inner_1440 .special_wrap .product_wrap li .txt_wrap .txt3 {
    font-size: 1.1111111111vw;
  }
}
.nowcar .sec_benefit {
  margin-bottom: 268px;
  background-image: url(../../img/now_benefit_bg_pc.png);
  background-repeat: no-repeat;
  background-size: 1920px 2621px;
  max-width: 1920px;
  height: 2621px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_benefit {
    margin-bottom: 18.6111111111vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit {
    background-size: 100vw 136.5104166667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit {
    max-width: 100vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit {
    height: 136.5104166667vw;
  }
}
.nowcar .sec_benefit .inner_1920 {
  width: 1440px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 {
    width: 75vw;
  }
}
.nowcar .sec_benefit .inner_1920 > div {
  position: absolute;
}
.nowcar .sec_benefit .inner_1920 .title_txt {
  top: 0;
  right: 0;
  font-size: 48px;
  letter-spacing: -1px;
  color: #0F4B7D;
  font-weight: 700;
  text-align: right;
  margin: 0;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .title_txt {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .title_txt {
    letter-spacing: -0.0520833333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box {
  display: flex;
  top: 106px;
  right: 0px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box {
    top: 5.5208333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box {
    right: 0vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list {
  width: 410px;
  height: 555px;
  padding-left: 50px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list {
    width: 21.3541666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list {
    height: 28.90625vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list {
    padding-left: 2.6041666667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list .img_box {
  width: 165px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .img_box {
    width: 8.59375vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .img_box {
    margin-bottom: 2.0833333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list .pre_txt {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .pre_txt {
    font-size: 1.3541666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .pre_txt {
    letter-spacing: -0.0520833333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .pre_txt {
    margin-bottom: 1.3020833333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list .sub_txt {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 34px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .sub_txt {
    font-size: 1.1458333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .sub_txt {
    letter-spacing: -0.0520833333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list .sub_txt {
    line-height: 1.7708333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list:nth-child(1) {
  padding-top: 104px;
  margin-right: 30px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list:nth-child(1) {
    padding-top: 5.4166666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list:nth-child(1) {
    margin-right: 1.5625vw;
  }
}
.nowcar .sec_benefit .inner_1920 .notice_box .notice_list:nth-child(2) {
  padding-top: 137px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .notice_box .notice_list:nth-child(2) {
    padding-top: 7.1354166667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box01 {
  left: 0;
  top: 443px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 {
    top: 23.0729166667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box01 .img_box {
  width: 335px;
  margin-bottom: 115px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .img_box {
    width: 17.4479166667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .img_box {
    margin-bottom: 5.9895833333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt {
  position: relative;
  font-size: 42px;
  line-height: 68px;
  letter-spacing: -3px;
  color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt {
    font-size: 2.1875vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt {
    line-height: 3.5416666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt {
    letter-spacing: -0.15625vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt::after {
  position: absolute;
  content: "";
  width: 548px;
  height: 1px;
  background-color: #ccc;
  bottom: 30px;
  right: -600px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt::after {
    width: 28.5416666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt::after {
    height: 0.0520833333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt::after {
    bottom: 1.5625vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box01 .main_txt::after {
    right: -31.25vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box02 {
  top: 1218px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 {
    top: 63.4375vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
  width: 470px;
  height: 80px;
  font-size: 36px;
  letter-spacing: -2px;
  font-weight: 700;
  color: #0F4B7D;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 50px;
  border-radius: 100px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    width: 24.4791666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    height: 4.1666666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    font-size: 1.875vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    margin: 0vw auto 2.6041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .round_txt {
    border-radius: 5.2083333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box02 .sub_txt {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #fff;
  line-height: 72px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .sub_txt {
    font-size: 2.7083333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .sub_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box02 .sub_txt {
    line-height: 3.75vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box03 {
  top: 1640px;
  left: 0;
  color: #fff;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 {
    top: 85.4166666667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box03 .pre_txt {
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 44px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .pre_txt {
    font-size: 1.4583333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .pre_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .pre_txt {
    margin-bottom: 2.2916666667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt {
  font-size: 52px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt {
    font-size: 2.7083333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt {
    margin-bottom: 1.5625vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt em {
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt em {
    font-size: 1.4583333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt em {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .main_txt em {
    margin-bottom: 0.78125vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box03 .add_txt {
  font-size: 16px;
  letter-spacing: -2px;
  opacity: 0.8;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .add_txt {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box03 .add_txt {
    letter-spacing: -0.1041666667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box04 {
  width: 545px;
  top: 2190px;
  left: 310px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 {
    width: 28.3854166667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 {
    top: 114.0625vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 {
    left: 16.1458333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box04 .img_box {
  width: 130px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 .img_box {
    width: 6.7708333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box04 p {
  font-size: 47px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -2px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 p {
    font-size: 2.4479166667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 p {
    letter-spacing: -0.1041666667vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box04 p em {
  font-size: 36px;
  display: block;
  margin-bottom: 25px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 p em {
    font-size: 1.875vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box04 p em {
    margin-bottom: 1.3020833333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box05 {
  top: 2480px;
  right: 0px;
  text-align: right;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 {
    top: 129.1666666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 {
    right: 0vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box05 .pre_txt {
  font-size: 42px;
  letter-spacing: -2px;
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  padding-right: 10px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .pre_txt {
    font-size: 2.1875vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .pre_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .pre_txt {
    margin-bottom: 0.78125vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .pre_txt {
    padding-right: 0.5208333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box05 .main_txt {
  font-size: 72px;
  letter-spacing: -2px;
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  margin-top: 0;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .main_txt {
    font-size: 3.75vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .main_txt {
    letter-spacing: -0.1041666667vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .main_txt {
    margin-bottom: 2.0833333333vw;
  }
}
.nowcar .sec_benefit .inner_1920 .benefit_box05 .main_txt span {
  color: #FF6624;
}
.nowcar .sec_benefit .inner_1920 .benefit_box05 .add_txt {
  font-size: 16px;
  letter-spacing: -2px;
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .add_txt {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 1920px) {
  .nowcar .sec_benefit .inner_1920 .benefit_box05 .add_txt {
    letter-spacing: -0.1041666667vw;
  }
}
.nowcar .sec_product {
  margin-bottom: 177px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product {
    margin-bottom: 12.2916666667vw;
  }
}
.nowcar .sec_product .inner_1440 .title_box {
  text-align: center;
  position: relative;
  width: 400px;
  margin: 0px auto 85px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box {
    width: 27.7777777778vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box {
    margin: 0vw auto 5.9027777778vw;
  }
}
.nowcar .sec_product .inner_1440 .title_box .title_txt {
  font-size: 52px;
  letter-spacing: -3px;
  font-weight: 700;
  background-color: #fff;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box .title_txt {
    font-size: 3.6111111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box .title_txt {
    letter-spacing: -0.2083333333vw;
  }
}
.nowcar .sec_product .inner_1440 .title_box .sub_txt {
  font-size: 28px;
  letter-spacing: -3px;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box .sub_txt {
    font-size: 1.9444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box .sub_txt {
    letter-spacing: -0.2083333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box .sub_txt {
    margin-bottom: 1.3888888889vw;
  }
}
.nowcar .sec_product .inner_1440 .title_box::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1440px;
  height: 0.5px;
  background-color: #888;
  z-index: -1;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box::after {
    width: 100vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .title_box::after {
    height: 0.0347222222vw;
  }
}
.nowcar .sec_product .inner_1440 ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul {
    padding-left: 0vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul {
    margin-bottom: 3.4722222222vw;
  }
}
.nowcar .sec_product .inner_1440 ul li {
  width: 350px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul li {
    width: 24.3055555556vw;
  }
}
.nowcar .sec_product .inner_1440 ul li .img_box {
  margin-bottom: 25px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul li .img_box {
    margin-bottom: 1.7361111111vw;
  }
}
.nowcar .sec_product .inner_1440 ul li p {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -3px;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul li p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 ul li p {
    letter-spacing: -0.2083333333vw;
  }
}
.nowcar .sec_product .inner_1440 .add_txt {
  font-size: 16px;
  letter-spacing: -2px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .add_txt {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_product .inner_1440 .add_txt {
    letter-spacing: -0.1388888889vw;
  }
}
.nowcar .sec_ex {
  margin-bottom: 137px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex {
    margin-bottom: 9.5138888889vw;
  }
}
.nowcar .sec_ex .inner_1440 {
  display: flex;
  align-items: center;
}
.nowcar .sec_ex .inner_1440 > .img_box {
  width: 912px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 > .img_box {
    width: 63.3333333333vw;
  }
}
.nowcar .sec_ex .inner_1440 ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.nowcar .sec_ex .inner_1440 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li {
    margin-bottom: 2.6388888889vw;
  }
}
.nowcar .sec_ex .inner_1440 ul li .img_box {
  margin-right: 22px;
  width: 68px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .img_box {
    margin-right: 1.5277777778vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .img_box {
    width: 4.7222222222vw;
  }
}
.nowcar .sec_ex .inner_1440 ul li .main_txt {
  font-size: 28px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .main_txt {
    font-size: 1.9444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .main_txt {
    letter-spacing: -0.1388888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .main_txt {
    margin-bottom: 1.0416666667vw;
  }
}
.nowcar .sec_ex .inner_1440 ul li .sub_txt {
  font-size: 16px;
  letter-spacing: -2px;
  font-weight: 500;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .sub_txt {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_ex .inner_1440 ul li .sub_txt {
    letter-spacing: -0.1388888889vw;
  }
}
.nowcar .sec_info {
  background-color: #f5f5f5;
  padding: 150px 0px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info {
    padding: 10.4166666667vw 0vw;
  }
}
.nowcar .sec_info .title_box {
  margin-bottom: 100px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box {
    margin-bottom: 6.9444444444vw;
  }
}
.nowcar .sec_info .title_box .pre_txt {
  font-size: 28px;
  letter-spacing: -2px;
  margin-bottom: 25px;
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box .pre_txt {
    font-size: 1.9444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box .pre_txt {
    letter-spacing: -0.1388888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box .pre_txt {
    margin-bottom: 1.7361111111vw;
  }
}
.nowcar .sec_info .title_box .main_txt {
  font-size: 52px;
  letter-spacing: -3px;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box .main_txt {
    font-size: 3.6111111111vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .title_box .main_txt {
    letter-spacing: -0.2083333333vw;
  }
}
.nowcar .sec_info .contents_box {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box {
    width: 83.3333333333vw;
  }
}
.nowcar .sec_info .contents_box .contents_list {
  width: 260px;
  margin-right: 210px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list {
    width: 18.0555555556vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list {
    margin-right: 14.5833333333vw;
  }
}
.nowcar .sec_info .contents_box .contents_list .img_box {
  width: 138px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .img_box {
    width: 9.5833333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .img_box {
    margin-bottom: 2.7777777778vw;
  }
}
.nowcar .sec_info .contents_box .contents_list .main_txt {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .main_txt {
    font-size: 1.9444444444vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .main_txt {
    letter-spacing: -0.1388888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .main_txt {
    margin-bottom: 1.0416666667vw;
  }
}
.nowcar .sec_info .contents_box .contents_list .sub_txt {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 30px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .sub_txt {
    font-size: 1.3888888889vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .sub_txt {
    letter-spacing: -0.2083333333vw;
  }
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list .sub_txt {
    line-height: 2.0833333333vw;
  }
}
.nowcar .sec_info .contents_box .contents_list:nth-child(3) {
  margin-right: 0;
}
.nowcar .sec_info .contents_box .contents_list:nth-child(6) {
  margin-right: 0;
}
.nowcar .sec_info .contents_box .contents_list:nth-child(-n+3) {
  margin-bottom: 80px;
}
@media screen and (max-width: 1440px) {
  .nowcar .sec_info .contents_box .contents_list:nth-child(-n+3) {
    margin-bottom: 5.5555555556vw;
  }
}/*# sourceMappingURL=style.css.map */